force-app/main/default/flows/Vonage_Schedule_Follow_up_meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_room</name>
        <label>create room</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>VonageMeetingAPIController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exit_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecordID</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationDatetime</name>
            <value>
                <elementReference>Expiration_date1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomName</name>
            <value>
                <elementReference>Meeting_name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <interviewLabel>Schedule Follow up meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Follow up meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Exit_screen</name>
        <label>Exit screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;{!outputMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_a_follow_up_meeting</name>
        <label>Schedule a follow up meeting</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_room</targetReference>
        </connector>
        <fields>
            <name>Meeting_name</name>
            <dataType>String</dataType>
            <fieldText>Meeting name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_date1</name>
            <dataType>DateTime</dataType>
            <fieldText>Expiration Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Schedule_a_follow_up_meeting</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
